<h3>These are the camp grounds</h3>
<% campgrounds.forEach(function(campground){%>
  <div> 
      <h4><%=campground.name%></h4>
      <img src="<%=campground.image%>" alt="campground">
  </div>  
<%})%>