<% include partials/header.ejs %>

<h2>Add a new Camp Ground</h2>
<form action="/campgrounds" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="image" placeholder="Image url">
    <input type="submit">
</form>
<br>
<br>
<a href="/campgrounds">Go Back</a>
<br>
<br>
<% include partials/header.ejs %>